DATABASE_URL="postgresql://USER:PASSWORD@HOST/DATABASE?sslmode=require"
AUTH_SECRET=
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=
EMAIL_VERIFICATION_ENABLED=true
RESEND_API_KEY=
RESEND_FROM_EMAIL="DevStash <onboarding@resend.dev>"
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
AWS_REGION=us-east-1
S3_AWS_PROFILE=
AWS_SHARED_CREDENTIALS_FILE=
S3_BUCKET_NAME=eapi-chc-dev-ets-attachments
S3_ENDPOINT=
